@font-face {
  font-family: font1;
  src: url(fontone.otf);
}
@font-face {
  font-family: font2;
  src: url(fonttwo.ttf);
}
@font-face {
  font-family: finish;
  src: url(finish.ttf);
}
@font-face {
  font-family: hoodville;
  src: url(hoodville.ttf);
}

body {
  background-image: url(/images/background.jpg);
  /*background-size: cover;*/
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar-nav {
  margin: 10px;
}

.navbar-nav a {
  margin-right: 50px;
  font-size: xx-large;
  font-family: hoodville;
}

.navbar-nav .nav-link {
  color: black !important;
  text-decoration: underline;
}

.menu-text {
  font-family: hoodville;
  color: black;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}

h2 {
  font-family: finish;
  color: black;
  padding: 13px;
}

p {
  font-family: finish;
  color: burlywood;
  line-height: 30px;
  background-color: black;
  padding: 10px;
}

.media-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line when needed */
  justify-content: center; /* Center items horizontally within the container */
  gap: 20px; /* Adjust the spacing between items as needed */
}

.media-container img {
  max-width: 100%; /* Set a maximum width for the images */
  height: auto; /* Maintain the aspect ratio */
  max-height: 300px; /* Set a maximum height for the images if needed */
  border: 2px solid #000; /* Add a black border with a 2px width */
}

.media-container video {
  max-width: 100%; /* Set a maximum width for the video */
  height: auto; /* Maintain the aspect ratio */
  max-height: 300px; /* Set a maximum height for the video if needed */
  border: 2px solid #000; /* Add a black border with a 2px width */
}

.logo {
  width: 50px;
  height: 50px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}
