@font-face {
  font-family: font1;
  src: url(fontone.otf);
}
@font-face {
  font-family: font2;
  src: url(fonttwo.ttf);
}
@font-face {
  font-family: finish;
  src: url(finish.ttf);
}
@font-face {
  font-family: hoodville;
  src: url(hoodville.ttf);
}

body {
  background-image: url(/images/background.jpg);
  /*background-size: cover;*/
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar-nav {
  margin: 10px;
}

.navbar-nav a {
  margin-right: 50px;
  font-size: xx-large;
  font-family: hoodville;
}

.navbar-nav .nav-link {
  color: black !important;
  text-decoration: underline;
}

.navbar-nav .nav-link.active {
  color: wheat !important;
}

.menu-text {
  font-family: hoodville;
  color: black;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article h1 {
  margin-top: 20px;
  font-family: finish;
}
article div {
  margin: 20px;
}

.text-content {
  width: 30%;
  justify-content: center;
  font-size: larger;
  font-family: finish;
  background-color: white;
  line-height: 30px;
}

.main-container {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .main-container .d-flex {
    flex-direction: column;
  }

  .main-container .text-content {
    width: 100%;
    margin: 20px 0;
  }

  .main-container img {
    max-width: 100%;
    height: auto;
  }

  .table-container {
    width: 100% !important;
  }
}

.python-image {
  max-width: 250px; /* my images are not all of the same size, so i am modyfiying their class values in CSS and changing their proportions */
  height: auto;
}

.c-image {
  max-width: 250px;
  height: auto;
}

.table-container {
  width: 50%;
  margin: 0 auto;
  overflow-x: auto;
  margin-bottom: 5px;
}

.table-container table {
  border: 2px solid #000;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
  background-color: darkslategrey;
}

.table-container table th,
.table-container table td {
  border: 3px solid #000;
  padding: 8px;
  text-align: center;
  font-family: finish;
  color: white;
}

.table-container table caption {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: finish;
  color: black;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.table-container table th.special-text {
  color: chartreuse;
  font-size: 25px;
}

.logo {
  width: 50px;
  height: 50px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.python-link {
  text-decoration: underline;
  color: blue;
}

.csharp-link {
  text-decoration: underline;
  color: blue;
}

a {
  text-decoration: none;
  border: 0;
  outline: none;
}
